@import "tailwindcss";
@plugin "flowbite/plugin";

@theme {
  --color-primary1:    #003E29;
  --color-primary2:    #E4BBA1;
  --color-primary3:    #D9D9D9;
  --color-border-color:#787878;
  --color-bg-color:    #EDEDED;
  --color-bgGreen:    #023423;

  /* Pemetaan variabel lama ke warna baru (kompatibilitas) */
  --color-brand:        var(--color-primary1);
  --color-brand-strong: var(--color-primary2);
  --color-brand-medium: var(--color-primary3);

  /* --- WARNA NEUTRAL (Background & Border) --- */
  --color-neutral-primary:         #ffffff;
  --color-neutral-primary-medium:  #ffffff;
  --color-neutral-secondary-soft:  #f9fafb;
  --color-neutral-tertiary:        #f3f4f6;
  --color-neutral-tertiary-medium: #e5e7eb;
  
  --color-default:        #e5e7eb; /* Border abu-abu */
  --color-default-medium: #d1d5db;


  /* --- WARNA TEXT --- */
  --color-heading: #111827; /* Hitam pekat */
  --color-body:    #6b7280; /* Abu-abu teks */
  
  /* --- SETTING LAIN --- */
  --radius-base: 0.5rem;
}

@source "../node_modules/flowbite";